extends layout.pug
block content
  form(method='POST', action='/users/login')
    div.container
      #form-group
        label Username:
        input.form-control(name='username', type='text')
        br
      #form-group
        label Password:
        input.form-control(name='password', type='password')
        br
      div.boton
        a.btn.btn-primary(href='/index') Back
      div.boton
        input.btn.btn-success(type='submit', value='Log in')