extends layout.pug
block content
  form(method='POST', action='/users/registrar')
    div.container
      #form-group
        label Nombre:
        input.form-control(name='nombre', type='text')
        br
      #form-group
        label Email:
        input.form-control(name='correo', type='text')
        br
      #form-group
        label Username:
        input.form-control(name='username', type='text')
        br
      #form-group
        label Password:
        input.form-control(name='contraseña', type='password')
        br
      #form-group
        label Confirmar Password:
        input.form-control(name='contrarepe', type='password')
        br
      #form-group
        label Role:
        input.form-control(name='role', type='text', value='user')
        br
      div.boton
        a.btn.btn-danger(href='/index') Regresar
      div.boton
        input.btn.btn-success(type='submit', value='Submit')