li a:hover {
  background-color: rgb(58, 69, 219);
}

h2{
  text-align: center;
}

h7{
  text-align: center;
}

 /* body{
  background-color: rgb(167, 217, 240) !important;
} */

.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border: #ebccd1;
}


.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

#form-group{
  max-width: 100%;
  margin: auto;
}

div.container{
  margin: 30px auto 0px auto;
  max-width: 95%;
}

div.logregister{
  margin-top:30px;
  max-width: 85%;
  margin: auto;
}

.btn{
  align-content: center;
  max-width: 90%;
}

div.boton{
  display: inline;
  margin-right: 20px;
  padding-bottom: 20px;
}

textarea.form-control{
  resize: none;
  height: 100px!important
}

h3{
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.articles{
  margin: 0px;
  padding: 0px;
}

div.style{
  border-bottom: double;
  margin-bottom: 20px;
}

li.nav-item.active{
  text-align: center;
  margin: auto;
}

a.nav-link{
  align-items: center;
}

input,
textarea{
  border: 1px solid black!important;
}

/*MEDIA QUERY*/

/*LAYOUT*/
@media only screen and (max-width: 767px) {
  li.nav-item.active {
    margin: 0px;
  }
}